@import "../../responsive.scss";
.projects {
  padding-top: 100px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @include sm {
      text-align: center;
      padding: 0 15px;
    }
    h1 {
      font-size: 40px;
      color: #212121;

      @include sm {
        font-size: 30px;
      }
    }
    p {
      font-size: 20px;
      text-align: center;
      color: #505050;

      @include sm {
        font-size: 15px;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    gap: 10px;

    @include sm {
      flex-direction: column;
    }

    .left {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      img {
        width: 80%;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

        @include sm {
          width: 100%;
        }
      }

      @include sm {
        width: 100%;
        justify-content: center;
      }
    }

    .right {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .projectCard {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        width: 100%;

        @include sm {
          width: 100%;
          justify-content: center;
          align-items: center;
        }

        .title {
          font-size: 30px;
          color: #212121;
          padding: 20px 0;

          @include sm {
            font-size: 25px;
          }
        }

        .tech {
          display: flex;
          justify-content: flex-start;
          gap: 10px;
          flex-wrap: wrap;

          @include sm {
            justify-content: center;
          }

          p {
            background-color: #ffca28;
            border-radius: 20px;
            padding: 5px 10px;
            font-size: 20px;
            font-weight: 500;
            color: #3f3f3f;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

            @include sm {
              font-size: 15px;
            }
          }
        }
        .desc {
          font-size: 20px;
          color: #434343;
          line-height: 30px;

          @include sm {
            font-size: 15px;
            text-align: center;
          }
        }

        .btn {
          display: flex;
          justify-content: flex-start;
          gap: 20px;

          @include sm {
            justify-content: center;
          }

          a {
            padding: 10px 20px;
            background-color: #00488c;
            border: 1px solid #212121;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 500;
            color: #f0f0f0;

            @include sm {
              font-size: 15px;
            }
          }

          a:hover {
            background-color: #0459a8;
            color: #f0f0f0;
            scale: 1.1;
            transition: all 0.3s ease;
          }
        }
      }
      @include sm {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
