@use "../../responsive.scss" as *;

.about {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;

  h1 {
    font-size: 40px;
    color: #212121;

    @include sm {
      font-size: 30px;
    }
  }

  p {
    font-size: 20px;
    text-align: center;
    color: #505050;

    @include sm {
      font-size: 15px;
    }
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include sm {
      padding: 10px 20px;
    }
  }

  .bottom {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 10px 50px;
    // border: 1px solid red;

    @include sm {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      line-height: 20px;
    }

    .left {
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      line-height: 38px;
      width: 50%;
      // border: 1px solid green;

      @include sm {
        width: 100%;
        line-height: 20px;
        gap: 10px;
      }

      a {
        padding: 10px 30px;
        border: none;
        border-radius: 15px;
        background-color: #00488c;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        font-family: "Times New Roman", Times, serif;

        @include sm {
          font-size: 15px;
          padding: 10px 20px;
        }
      }

      button:hover {
        background-color: #085eae;
        color: #ffffff;
        scale: 1.1;
        transition: all 0.3s ease;
      }
    }
    .right {
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 50%;
      // border: 1px solid green;

      @include sm {
        width: 100%;
      }

      .skills {
        height: inherit;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        @include sm {
          justify-content: center;
          align-items: center;
          padding: 10px;
        }

        .skillBox {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          gap: 10px;
          padding: 10px;
          // border: 2px solid #c8c7c7;
          // border-radius: 10px;

          @include sm {
            padding: 5px;
          }

          .skillName {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .skill {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px;
              border: 1px solid #bdbdbd;
              border-radius: 50px;
              background-color: #ffca28;
              color: #505050;
              box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

              &:hover {
                scale: 1.1;
                transition: all 0.3s ease;
              }

              @include sm {
                font-size: 10px;
                padding: 5px 10px;
              }
            }
          }
        }
      }
    }
  }
}
