@import "../../responsive.scss";
.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  h1 {
    font-size: 40px;
    color: #212121;

    @include sm {
      font-size: 30px;
    }
  }
  p {
    font-size: 20px;
    text-align: center;
    color: #505050;

    @include sm {
      font-size: 15px;
    }
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include sm {
      text-align: center;
      gap: 10px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;

    @include sm {
      width: 100%;
      padding: 0 20px;
    }

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 40px;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

      @include sm {
        padding: 20px;
      }

      label {
        font-size: 20px;
        color: #212121;
        font-weight: bold;

        @include sm {
          font-size: 15px;
        }
      }

      input {
        height: 40px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #ccc;
        font-size: 15px;
        padding: 0 10px;
        background-color: rgb(233, 233, 233);

        @include sm {
          height: 30px;
          font-size: 10px;
          padding: 0 5px;
        }
      }

      textarea {
        height: 150px;
        border-radius: 5px;
        outline: none;
        font-size: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: rgb(233, 233, 233);

        @include sm {
          height: 100px;
          font-size: 10px;
          padding: 5px;
        }
      }

      button {
        height: 50px;
        width: 25%;
        align-self: flex-end;
        border-radius: 10px;
        outline: none;
        border: none;
        font-size: 20px;
        background-color: #00488c;
        color: #f0f0f0;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
        cursor: pointer;

        @include sm {
          width: 100%;
          font-size: 15px;
          padding: 0 5px;
        }
      }

      button:hover {
        background-color: #0459a8;
        color: #f0f0f0;
        scale: 1.1;
        transition: all 0.3s ease;
      }
    }
  }
}
